
<div class="form-group">
	<label for="name">Name</label>
	<input type="text" class="form-control" name="name" value="{{ user.name }}" placeholder="Digite seu nome">
</div>
<div class="form-group">
	<label for="email">Email</label>
	<input type="email" class="form-control" name="email" value="{{ user.email }}" placeholder="Digite seu email">
</div>
<div class="form-group">
	<label for="password">Password</label>
	<input type="password" class="form-control" name="password" value="{{ user.password }}" placeholder="Digite sua senha">
</div>
<div class="form-group">
	<button type="submit" class="btn btn-primary">Salvar</button>
</div>